/*********************************************************************/

* { box-sizing: border-box }

body {
    background: #013311;
    font-family: 'Helvettica', 'Arial', sans-serif;
    text-align: center;
    color: #FFF;
}

.hidden { display: none !important }

.bold { font-weight: 800 }

.wrapper {

    /*position: relative*/
    max-width     : 600px;
    margin        : 0 auto;
    padding-left  : 25px;
    padding-right : 25px;
}

.title {
    text-align  : center;
    font-size   : 2.65rem;
    font-weight : 100;
}

.btn {
    display: inline-block;
    background: rgb(0, 38, 12);
    color: #FFF;
    border: none;
    text-align: center;
    font-size: 2.15rem;
    padding: 10px 15px;
    margin: 80px 0;

    text-decoration: none
}

.btn:active, .btn:hover, .btn:visited { text-decoration: none; background: #FFF; color: rgb(0, 38, 12) }

.btn:hover { cursor: pointer }

#play, #stop {

}

@media (max-width: 768px) {

 #play, #stop { position: absolute; bottom: 0px; left: 0; width: 100%; margin: 0 }

    }

#player-select, #board {

    transition: 0.3s all ease;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0; bottom: 0; right: 0;
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    z-index: -100
}

#player-select.active, #board.active { opacity: 1; -webkit-transform: scale(1); transform: scale(1); z-index: 100 }

#board #turn { position  : relative; margin    : 0 auto; height    : 2rem; max-width : 350px; font-size : 1.4rem; margin-top: 20px; }

#board #turn #you, #board #turn #your-wins, #board #turn #opponent, #board #turn #opponent-wins, #board #turn #pointer { position: absolute; top: 0 }

#board #turn #you { left: 1.2rem }

#board #turn #your-wins { left: 0 }

#board #turn #opponent { right: 1.2rem }

#board #turn #opponent-wins { right: 0 }

#board #turn #pointer { transition: 0.35s all ease-out; display: block; margin: 0; padding: 0; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 0; height: 0; border-style: solid; border-width: 0.8rem 1.8rem 0.8rem 0; border-color: transparent #FFF transparent }

#board #turn #pointer.right { -webkit-transform: translateX(-50%) rotate(180deg); transform: translateX(-50%) rotate(180deg) }

#board #who { position  : relative; margin    : 0 auto; height    : 3rem; max-width : 250px; font-size : 1.4rem }

#board #who-you, #board #who-opponent { position: absolute; top: 0 }

#board #who-you { left: 0 }

#board #who-opponent { right: 0 }

#board table { position: relative;/*top: 80px;*/ border-collapse: collapse; margin      : 0 auto; font-family : monospace; }

#board table td { font-size  : 70px; height : 100px; width  : 100px }

#board table td.winning-line { color: #EFFF22 }

#board table tr:nth-child(even) td { border-top: 1px solid #FFF; border-bottom: 1px solid #FFF; }

#board table td:nth-child(even) { border-left: 1px solid #FFF; border-right: 1px solid #FFF; }

#board #stop {

}

@media (min-width: 800px) {

 #board #turn { max-width: 600px; font-size: 2.1rem } }

@media (min-width: 800px) {

 #board #who { max-width: 4fnvvfrhfhrhggh00px; font-size: 2.1rem } }

@media (min-width: 800px) {

 #board table td { font-size: 100px; width: 140px; height: 140px } }

@media (min-width: 800px) {

 #board #stop { position: absolute; left: 50%; bottom: 25px; margin: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%) } }

#player-select {

    font-size: 18px;

}

#player-select ul { margin: 0; padding: 0; padding-bottom: 20px; }

#player-select li { float: left; display: inline-block; width: 50%; padding: 15px 0; border: 1px solid rgb(0, 38, 12) }

#player-select li:first-child { border-radius: 50px 0 0 50px }

#player-select li:last-child { border-radius: 0 50px 50px 0 }

#player-select li:hover { background: rgb(2, 75, 25) }

#player-select li.selected { font-weight: 600; background: #FFF; color: rgb(0, 38, 12) }

#player-select p { font-size   : 1.65rem; font-weight : 100; clear       : both; }

.modal {

    position : fixed;
    width    : 100%;
    height   : 100%;
    opacity  : 0;
    z-index  : -1000;
    top    : 0;
    left   : 0;
    bottom : 0;
    right  : 0;
    background : rgba(0, 0, 0, 0.8);

}

.modal p { font-size: 2.25rem; }

.modal .btn { position: absolute; top: 50%; left: 50%; margin: 0 auto; -webkit-transform: translate(-50%, -50%) scale(1.215); transform: translate(-50%, -50%) scale(1.215); background: #FFF; color: #222; }

.modal--open { opacity: 1; z-index: 1000 }
