/*
@use postcss-nested;
@use postcss-simple-vars;
@use postcss-mixins;
@use postcss-color-function;
*/

$breakpoint: 800px;

$background: #EEE;
$color: #333;

@define-mixin atMedium {
    @media (min-width: $breakpoint) {
        @mixin-content;
    }
}

@define-mixin isSmall {
    @media (max-width: $breakpoint) {
        @mixin-content;
    }
}

* { box-sizing: border-box }

body {
    margin: 0;
    padding: 0;
    background: $background;
    color: $color;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.wrapper {
    max-width: 1236px;
    padding: 0 25px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    font-weight: 100;
    font-size: 3.35rem;
    margin-top: 1rem;
    margin-bottom: 1.6rem;
    @mixin atMedium { font-size: 4.35rem }

    &.subtitle {
        font-size: 2.45rem;
        @mixin atMedium { font-size: 3.55rem }
    }
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 1rem 0.8rem;
    font-size: 2rem;
    background: $color;
    color: color($background l(+ 10));
    border: none;

    &.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &.wide { width: 80% }
    &.full-width { width: 100% }
}

.columns {
    @mixin atMedium {
        display: flex;
        flex-direction: row;
    }
}

.group {
    @mixin isSmall { margin: 3rem 0 }
    @mixin atMedium {
        width: 50%;
        &:first-child { padding-right: 20px }
        &:last-child { padding-left: 20px }
    }
}

textarea {
    width: 100%;
    font-size: 1rem;
    padding: 25px 15px;
    border-radius: 15px;
}
