/*
@use postcss-nested;
@use postcss-simple-vars;
@use postcss-mixins;
@use postcss-color-function;
*/

$breakpoint: 800px;

$background: #333;
$color: #FFF;

$nCols: 70;
$row-width:  calc(100vw - 400px);
$max-width: 100vh;
$square-size: calc($row-width / $nCols);

@define-mixin atMedium {
    @media (min-width: $breakpoint) {
        @mixin-content;
    }
}

@define-mixin isSmall {
    @media (max-width: $breakpoint) {
        @mixin-content;
    }
}

* { box-sizing: border-box }

body {
    margin: 0;
    padding: 0;
    background: $background;
    color: $color;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.wrapper {
    max-width: 1236px;
    padding: 0 25px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    font-weight: 100;
    font-size: 2.65rem;
    margin-top: 1rem;
    margin-bottom: 1.6rem;
    @mixin atMedium { font-size: 3.35rem }

    &.subtitle {
        font-size: 1.45rem;
        @mixin atMedium { font-size: 2.55rem }
    }
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 1rem 0.8rem;
    font-size: 2rem;
    background: $color;
    color: color($background l(+ 10));
    border: none;

    &.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &.wide { width: 80% }
    &.full-width { width: 100% }
}

.board {
    margin: 0 auto;
    margin-top: 1.8rem;
    @mixin atMedium {
        width: $row-width;
        max-width: $max-width;
        height: auto;
    }

    @mixin isSmall {
        width: 100vw;
    }

    &__row {
        margin: 0;
        padding: 0;

        @mixin atMedium {
            width: $row-width;
            height: calc($row-width / $nCols);
            max-width: $max-width;
            max-height: calc($max-width / $nCols);
        }

        @mixin isSmall {
            width: 100vw;
            height: calc(100vw / $nCols);
        }
    }

    &__square {
        display: inline-block;
        border: 1px solid #555;

        @mixin atMedium {
            width: calc($row-width / $nCols);
            height: calc($row-width / $nCols);
            max-width: calc($max-width / $nCols);
            max-height: calc($max-width / $nCols);
        }

        &.alive { background: #A55 }
        &.alive-old { background: #C33 }

        @mixin isSmall {
            width: calc(100vw / $nCols);
            height: calc(100vw / $nCols);
        }
    }

    &__controls {
        margin: 0 auto;

        button {
            position: absolute;
            border: 2px solid $background;
            margin: 0;
            bottom: 0;
            width: 50%;
            display: inline-block;
            text-align: center;

            &:first-child { left: 0 }
            &:last-child  { left: 50% }

            &:hover {
                background: color($color b(+ 20));
            }
        }
    }
}
