.content-list {
    &--narrowed {
        margin-right: 100px;
    }
    & > li {
        margin: 10px 0;
        line-height: 1.35;
        @media only print {
            margin: 5px 0;
            line-height: normal;
        }
        a {
            color: inherit;
        }
    }

}
