.landing {
    @mixin atLarge {
        background: url('assets/img/beach-large.jpg');
    }
    @mixin atMedium {
        background: url('assets/img/beach.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    border-bottom: 6px solid #CCC;
}
