.primary-nav {
    position: relative;
    @mixin atMedium { padding-top: 0 }
    &--right {
        @mixin atMedium {
            float: right;
        }
    }
    ul {
        position: fixed;
        top: 50%;
        width: $mobileNavWidth;
        margin: 0;
        padding: 0;
        transform: translateY(-50%);
        @mixin clearfix;
        @mixin atMedium {
            position: inherit;
            transform: none;
            width: auto;
            top: 0;
            padding: 0;
        }
    }
    li {
        list-style: none;
        display: block;
        padding-right: 7px;
        @mixin atMedium{
            float: left;
            display: inline-block;
        }
        &:last-child {
            padding-right: 0;
            @mixin atMedium { padding-right: 20px }
        }
    }
    a {
        display: block;
        height: 45px;
        width: $mobileNavWidth;
        padding: 15px 0;
        padding-left: 20px;
        font-weight: 800;
        color: #FFF;
        font-size: 1rem;
        text-align: left;
        text-decoration: none;
        &:hover {
            background-color: #555;
        }
        @mixin atMedium{
            display: inline-block;
            font-size: 1rem;
            margin: 0;
            padding: 7px 15px;
            height: 35px;
            width: auto;
            color: inherit;
            text-align: center;
            background-color: transparent;
            &:hover {
                border-bottom: 5px solid #555;
            }
            &.current-link {
                &.white-section-link {
                    border-bottom: 3px solid #FFF;
                }
                &.black-section-link {
                    border-bottom: 3px solid #111;
                }
                &.blue-section-link {
                    border-bottom: 3px solid $bahamaBlue;
                }
                &.yellow-section-link {
                    border-bottom: 3px solid $bahamaYellow;
                }
            }
        }
    }
}
