.primary-nav {
    @mixin atMedium { padding-top: 0 }
    &--right {
        @mixin atMedium {
            float: right;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        @mixin clearfix;
    }
    li {
        list-style: none;
        display: block;
        padding-right: 7px;
        @mixin atMedium{
            float: left;
        }
        &:last-child {
            padding-right: 0;
            @mixin atMedium { padding-right: 20px }
        }
    }
    a {
        display: block;
        height: 25px;
        margin-bottom: 10px;
        padding: 5px 8px;
        font-weight: 800;
        color: #FFF;
        font-size: 1rem;
        text-decoration: none;
        @mixin atMedium{
            font-size: 1rem;
            margin: 0;
            padding: 7px 15px;
            height: 35px;
            color: inherit;
            background-color: transparent;
            &:hover {
                border-bottom: 5px solid #555;
            }
            &.current-link {
                color: #222;
                background-color: #FFF;
                &.black-section-link {
                    background-color: #111;
                    color: #FFF;
                }
                &.blue-section-link {
                    background-color: $bahamaBlue;
                    color: #FFF;
                }
                &.yellow-section-link {
                    background-color: $bahamaYellow;
                    color: #333;
                }
            }
        }
    }
}
