.pull {
    &-left {
        float: left;
        @mixin clearfix;
        &-sm {
            @mixin atSmall {
                @mixin clearfix;
                float: left
            }
        }
        &-md {
            @mixin atMedium {
                @mixin clearfix;
                float: left
            }
        }
        &-lg {
            @mixin atLarge {
                @mixin clearfix;
                float: left
            }
        }
    }
    &-right {
        @mixin clearfix;
        float: right;
        &-sm {
            @mixin atSmall {
                @mixin clearfix;
                float: right
            }
        }
        &-md {
            @mixin atMedium {
                @mixin clearfix;
                float: right
            }
        }
        &-lg {
            @mixin atLarge {
                @mixin clearfix;
                float: right
            }
        }
    }
}