.resume {
    & > *:not(header) {
        float: left;
    }
    @media only print {
        font-size: 12px;
        color: #000;
        width: 612px;
        height: 792px;
    }
    margin: 0 auto;

    &__title {
        text-align: center;
    }

    &__heading {
        border-bottom: 1px solid #333;
    }
    
    &__objective {}

    aside {
        img {
            margin: 15px auto;
        }
        
        position: relative;
        width: 25%;
        height: 100%;
        padding-right: 25px;
        border-right: 1px solid #222;
        
        address {
            @media only print {
                position: absolute;
                bottom: 0;
            }
            text-align: right;
            padding-right: 25px;
            
            a { 
                @mixin noTextDecoration;
                text-decoration: underline;
            }
        }
    }
    
     > article {
        width: 75%;
        height: 100%;
        padding-left: 25px;
    }
}
