.social-icons {
    text-align: left;
    width: 210px;
    @mixin centerBlock;
    @mixin atSmall {
        width: auto;
    }
    &__icon {
        @mixin clickable;
        position : relative;
        background-color: $bahamaBlue;
        display: inline-block;
        margin: 0 5px 5px 5px;
        width: 90px !important;
        height: 90px;
        @mixin atSmall {
            width: 72px;
            margin: 5px;
        }
        .icon {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 50px;
            max-height: 50px;
        }
    }
}
