/*
@use postcss-nested;
@use postcss-simple-vars;
@use postcss-mixins;
@use postcss-color-function;
*/

* { -webkit-box-sizing: border-box; box-sizing: border-box }

body {
    margin: 0;
    padding: 0;
    background: #333;
    color: #FFF;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.wrapper {
    max-width: 1236px;
    padding: 0 25px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    font-weight: 100;
    font-size: 2.65rem;
    margin-top: 1rem;
    margin-bottom: 1.6rem
}

@media (min-width: 800px) {

 .title { font-size: 3.35rem } }

.title.subtitle { font-size: 1.45rem }

@media (min-width: 800px) {

 .title.subtitle { font-size: 2.55rem } }

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 1rem 0.8rem;
    font-size: 2rem;
    background: #FFF;
    color: rgb(77, 77, 77);
    border: none
}

.btn.center { display: block; margin-left: auto; margin-right: auto }

.btn.wide { width: 80% }

.btn.full-width { width: 100% }

.board {
    margin: 0 auto;
    margin-top: 1.8rem
}

@media (min-width: 800px) {

 .board { width: calc(100vw - 400px); max-width: 100vh; height: auto } }

@media (max-width: 800px) {

 .board { width: 100vw } }

.board__row { margin: 0; padding: 0 }

@media (min-width: 800px) {

 .board__row { width: calc(100vw - 400px); height: calc((100vw - 400px) / 70); max-width: 100vh; max-height: 1.42857vh } }

@media (max-width: 800px) {

 .board__row { width: 100vw; height: 1.42857vw } }

.board__square { display: inline-block; border: 1px solid #555 }

@media (min-width: 800px) {

 .board__square { width: calc((100vw - 400px) / 70); height: calc((100vw - 400px) / 70); max-width: 1.42857vh; max-height: 1.42857vh } }

.board__square.alive { background: #A55 }

.board__square.alive-old { background: #C33 }

@media (max-width: 800px) {

 .board__square { width: 1.42857vw; height: 1.42857vw } }

.board__controls { margin: 0 auto; }

.board__controls button { position: absolute; border: 2px solid #333; margin: 0; bottom: 0; width: 50%; display: inline-block; text-align: center }

.board__controls button:first-child { left: 0 }

.board__controls button:last-child { left: 50% }

.board__controls button:hover { background: rgb(212, 213, 213) }
