<section id='projects' class='page-section page-section--blue'>
    <div class="wrapper">
        <h2 class='section-title'>My <strong>Projects</strong></h2>
        <div class='wrapper wrapper--medium wrapper--b-margin generic-content-container'>
            <p>
                Let me use this time to say now that I've never had a 'job' in the software or web development field--all things I've done have been on my own time. What I lack in work experience, I've been trying my best to make up for by at least having some tangible work and learning as much as I can. Below are some of my projects I'd like to showcase to anyone willing to look. Each thumbnail is linked to its respective github repo or website (if applicable)--actually though, I default to use <a href="https://bitbucket.org">Bitbucket</a> since I work alone and sometimes for work purposes (trying to not get hacked here), so the cloned repos may not be updated as often as their original counterparts. I'll try to remember to keep them up to to date for you guys and gals whom are interested.
            </p>
        </div>
        <div class='row row--equal-height-md'>
            <div class="row__md-4">
                <article class='thumbnail'>
                    <a href='https://github.com/amci1203/my-website'><img class='lazyload thumbnail__photo' data-src='assets/img/project-thumbs/my-website.png' alt='Website Screenshot' /></a>
                    <h3 class='thumbnail__heading'>This Website</h3>
                    <p class='thumbnail__description'>I think it would make sense to showcase the code behind this website first. Simple, I know, but you can't deny that it works--just how I like my stuff.</p>
                </article>
            </div>
            <div class="row__md-4">
                <article class='thumbnail'>
                    <a href='https://github.com/amci1203/apex-inventory'>
                    <img class='lazyload thumbnail__photo' data-src='assets/img/project-thumbs/housekeeping-inventory.png' alt='Inventory App Screenshot' />
                    </a>
                    <h3 class='thumbnail__heading'>Housekeeping Inventory</h3>
                    <p class='thumbnail__description'>Small Express app I made primarily for the housekeeping department at work. Though that it isn't to say that it isn't useful for any simple inventory recording. Now at 2.0 (no I am not following a convention here, but it does more and looks different from my first attempt). Next step--reactify this, when I find the time.</p>
                </article>
            </div>
            <div class="row__md-4">
                <article class="thumbnail">
                    <a href="https://amci1203.github.io/seabreeze">
                    <img data-src="assets/img/project-thumbs/seabreeze.png" alt="Seabreeze Website Screenshot" class="lazyload thumbnail__photo" />
                    </a>
                    <h3 class="thumbnail__heading">SeaBreeze Vacation Villas</h3>
                    <p class="thumbnail__description">One of the websites I've done from scratch for where I currently work, In the near future, the booking process will be redone as well (probably by me as well :P)</p>
                </article>
            </div>
        </div>
    </div>
</section>
