/*
@use postcss-nested;
@use postcss-simple-vars;
@use postcss-mixins;
@use postcss-color-function;
*/

* { -webkit-box-sizing: border-box; box-sizing: border-box }

body {
    margin: 0;
    padding: 0;
    background: #EEE;
    color: #333;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.wrapper {
    max-width: 1236px;
    padding: 0 25px;
    margin-left: auto;
    margin-right: auto;
}

.recipe {
    position: relative;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: rgb(216, 216, 216);
    padding: 1rem 1.315rem;
    margin: 1rem 0;
    border-radius: 12px
}

.recipe__name { margin: 0.1rem 0 }

.recipe__trigger { position: absolute; display: block; overflow: hidden; width: 100%; height: 3.5rem; top: 0; left: 0; margin: 0; padding: 10px }

.recipe__trigger:hover { cursor: pointer }

.recipe__details { -webkit-transition: all 0.5s; transition: all 0.5s; max-height: 0; overflow: hidden }

.recipe__details.active { max-height: 800px }

.recipe__ingredients {}

.title {
    text-align: center;
    font-weight: 100;
    font-size: 3.35rem;
    margin-top: 1rem;
    margin-bottom: 1.6rem
}

@media (min-width: 800px) {

 .title { font-size: 4.35rem } }

.title.subtitle { font-size: 1.45rem }

@media (min-width: 800px) {

 .title.subtitle { font-size: 1.85rem } }

.btn {
    display: inline-block;
    padding: 0.35rem 0.65rem;
    margin: 1rem 0.8rem;
    font-size: 1.35rem;
    background: #1AE;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px
}

.btn.center { display: block; margin-left: auto; margin-right: auto }

.btn.danger { background: #A13 }

.btn.wide { width: 80% }

.btn.full-width { width: 100% }

textarea, input {
    width: 100%;
    font-size: 1rem;
    padding: 25px 15px;
    border-radius: 15px;
    border: 1px solid #CCC;
}

input {
    padding: 5px 20px;
    margin-bottom: 25px;
}

.label {
    margin-bottom: 2px;
    margin-top: 0.6rem;
    padding-left: 1rem;
}

.modal {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    opacity: 0;
    visibility: hidden;
    z-index: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(223, 223, 223, 0.85)
}

.modal--open { opacity: 1; visibility: visible; z-index: 9000; -webkit-transform: scale(1); transform: scale(1) }

.modal--dark { background-color: rgba(43, 43, 43, 0.85) }

.modal__header { text-align: center; padding-bottom: 10px; border-bottom: 1px solid #BBB; }

.modal__header span { display: inline-block; margin-top: 15px }

.modal__close { position: absolute; top: 20px; right: 20px; font-size: 1.5rem; -webkit-transform-origin: top right; transform-origin: top right; -webkit-transform: scaleX(1.2); transform: scaleX(1.2); cursor: pointer; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) }

.modal__body { padding: 55px 30px; font-size: 1.2rem; position: absolute; width: 40rem; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); overflow-y: auto }

.modal__body--opaque { background-color: #FFF; border: 1px solid #CCC; border-radius: 20px; -webkit-box-shadow: 0 2px 1px 1px rgba(3, 3, 3, 0.5); box-shadow: 0 2px 1px 1px rgba(3, 3, 3, 0.5) }

.modal__body--scrollable { max-height: 100vh; overflow-y: auto }

@media (max-width: 800px) {

 .modal__body { padding: 25px 10px; width: 90% } }
