<nav class='mobile-buttons visible'>
    <button id='menu-toggle' class="menu-toggle">
        <span class='hamburger'>
            <span class="middle"></span>
        </span>
    </button>
    <div class="left">
        <button class='social-media-toggle'>
            <img src='assets/img/icons/share.svg' alt='share icon'/>
        </button>
        <button class="tooltip">
            <span class="tooltip-text show-top">Resumé</span>
            <a href="resume.html">
                <img src="assets/img/icons/cv.svg" alt="resumé icon" />
            </a>
        </button>
    </div>
    <div class="right">
        <button>
            <a href="mailto:me@allen-mcintoshii.com">
                <img src="assets/img/icons/mail.svg" alt="email icon" />
            </a>
        </button>
        <button>
            <a href="tel:12423511186">
                <img src="assets/img/icons/phone.svg" alt="phone icon" />
            </a>
        </button>
    </div>
</nav>

<div class="_partial" data-view="social-links"></div>
