<nav id='primary-nav'class='primary-nav'>
    <div class="nav-buttons">
        <button class="social-media-toggle nav-buttons__button">
            <img src='assets/img/icons/share.svg' alt='share icon'/>
        </button>
        <button class="nav-buttons__button">
            <a href='resume.html'><img src='assets/img/icons/cv.svg' alt='resumé icon'/></a>
        </button>
    </div>
    <ul>
        <li>
            <a id='_about-me' class='white' href="#about-me">About Me</a>
        </li>
        <li>
            <a id='_projects' class='blue' href="#projects">Projects</a>
        </li>
        <li>
            <a id='_contacts' class='yellow' href="#contacts">Contacts</a>
        </li>
        <li>
            <a class='yellow' href="resume.html">Resumé</a>
        </li>
    </ul>
</nav>
