<div id="social-media-buttons">
    <button class='btn btn--circle'>
        <a href="https://www.facebook.com/profile.php?id=100012709999005" target="_blank">
            <img src="assets/img/icons/facebook.svg" alt="facebook icon">
        </a>
    </button>
    <button class='btn btn--circle'>
        <a href="https://twitter.com/doubleAM2" target="_blank">
           <img src="assets/img/icons/twitter.svg" alt="twitter icon">
        </a>
    </button>
    <button class='btn btn--circle'>
        <a href="http://github.com/amci1203">
            <img src="assets/img/icons/github.svg" alt="github icon">
        </a>
    </button>
</div>
