* { box-sizing: border-box }

body {
    margin: 0;
    background: #DDD;
    color: #222;
    font-family: sans-serif;
}

.wrapper {
    position: relative;
    max-width: 30rem;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    font-weight: 100;
    font-size: 2.65rem
}

@media (min-width: 800px) {

 .title { font-size: 4.35rem } }

#simon {
    position: relative;
    margin: 0 auto;
    margin-top: 80px;

    height: 18rem;
    width: 18rem;

}

#simon .buttons { position: relative; height: 100%; width: 100%; }

#simon .buttons .top    { top: 0; border-top: 12px solid #111111; }

#simon .buttons .bottom { top: 50%; border-bottom: 12px solid #111111; }

#simon .buttons .left   { left: 0; border-left: 12px solid #111111; }

#simon .buttons .right  { left: 50%; border-right: 12px solid #111111; }

#simon .buttons .top.left     { border-top-left-radius     : 100% }

#simon .buttons .top.right    { border-top-right-radius    : 100% }

#simon .buttons .bottom.right { border-bottom-right-radius : 100% }

#simon .buttons .bottom.left  { border-bottom-left-radius  : 100% }

#simon .buttons > * { position: absolute }

#simon .center { position: absolute; z-index: 100; border-radius: 100%; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 9rem; height: 9rem; background: #111111; }

#simon #count { font-size: calc(18rem / 2 - 50px); line-height: 9rem; display: block; height: 100%; width: 100%; margin: auto 0; text-align: center; font-family: monospace; color: #EEE; }

@media (min-width: 800px) {

 #simon { -webkit-transform: scale(1.5); transform: scale(1.5); -webkit-transform-origin: top; transform-origin: top } }

.quart-circle {
    width: 9rem;
    height: calc(18rem / 2 + 1px);
    border: 5px solid #111111

}

.quart-circle#yellow { background: yellow }

.quart-circle#red { background: red }

.quart-circle#blue { background: blue }

.quart-circle#green { background: green }

.quart-circle:hover { cursor: pointer }

.quart-circle.selected { background: #111111 !important }

.btn-group {
}

@media (min-width: 800px) {

 .btn-group { margin-top: 11.25rem } }

button {
    border: none;
    color: #FFF;
    background: #9C1211;

    height: 40px;
    font-size: 1.75rem;
}

button:hover { cursor: pointer; background: rgb(105, 18, 18) }

button#strict-toggle { background: transparent; text-decoration: line-through; color: #777 }

button#strict-toggle.active { font-weight: bold; text-decoration: none; color: #333 }

@media (max-width: 800px) {

 button { position: absolute }

 button#toggle-game { bottom: 0; width: 100% }

 button#restart-game { bottom: 60px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 80% }

 button#strict-toggle { bottom: 120px; width: 60%; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%) } }

@media (min-width: 800px) {

 button { display: block; padding-left: 25px; padding-right: 25px; margin: 0 auto; margin-top: 3rem; height: 60px; font-size: 2.65rem }

 button#strict-toggle { clear: both; margin: 10px auto }

 button#restart-game, button#toggle-game { float: left; width: 40%; margin: 20px 5% } }

#win {
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 64, 0, 0.95);
    color: #FFF;
    
    -webkit-transition: all 1.5s ease;
    
    transition: all 1.5s ease;
    margin-top: -9999px;
}

#win .wrapper { top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); text-align: center; }

#win button { background: #FFF; color: green; position: relative; -webkit-transform: scale(1.8); transform: scale(1.8); }

#win.active { margin-top: 0 }
