.btn {
    a { @mixin noTextDecoration }
    transition      : all 0.15s ease-in;
    border          : none;
    text-decoration : none;
    text-align      : center;
    padding         : 0.75rem 1.2rem;
    margin          : 10px 0;
    display         : inline-block;

    &:hover {
        background-color: #111;
        color: #FFF;
    }
    &[disabled] {
        background-color : #AAA !important;
        cursor           : not-allowed !important;
        color            : #111;
        &:hover { color: #111 }
    }
    &--transparent {
        background-color : transparent;
        border           : none;
    }
    &--circle {
        background-color : $navs-color;
        border           : none;
        border-radius    : calc($social-button-size / 2);
        padding          : 5px;
        width            : $social-button-size;
        height           : $social-button-size;
        &:hover {
            background-color: color($navs-color b(+20));
        }
        img {
            height : calc($mob-navH / 2);
            width  : auto;
        }
    }
    &--black {
        &--bordered {
            border           : 1px solid #FFF;
            background-color : #111;
            color            : #FFF;
            &:hover {
                background-color : #333;
                color            : #FFF;
            }
        }
        background-color : #111;
        color            : #FFF;
        &:hover {
            background-color : #333;
            color            : #FFF;
        }
    }
    &--white {
        &--bordered {
            border           : 1px solid #111;
            background-color : #FFF;
            color            : $mainBlue;
            &:hover {
                background-color : #DDD;
                color            : #111;
            }
        }
        background-color : #FFF;
        color            : $mainBlue;
        &:hover {
            background-color : #DDD;
            color            : $mainBlue;
        }
    }
    &--blue {
        &--bordered {
            border           : 1px solid $mainBlue;
            background-color : color($mainBlue l(- 35));
            color            : #FFF;
            &:hover {
                background-color : $mainBlue;
                color            : #FFF;
            }
        }
        background-color : color($mainBlue l(- 35));
        color            : #FFF;
        &:hover {
            background-color : $mainBlue;
            color            : #FFF;
        }
    }
    
    &--large {
        padding: 1.1rem 1.9rem;
        @mixin atSmall {
            font-size: 1.25rem;
        }
    }
    &--xlarge {
        padding: 1.6rem 2.4rem;
        @mixin atSmall {
            font-size: 1.45rem;
        }
    }
    &--wide {
        width: 80% !important;
    }
    &--full-width {
        width: 100% !important;
    }
    &--center {
        display      : block;
        margin       : 10px auto;
        @mixin isSmall { width: 100% }
        @mixin atMedium {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
}
