#_resume {
    background     : url(assets/img/landing-bg.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
}
.resume {
    padding-top    : 50px;
    padding-bottom : 150px;
    @media only print {
        margin    : 0 auto;
        font-size : 12px;
        color     : #111;
        width     : 612px;
        height    : 920px;
    }
    .wrapper > *:not(header) {
        @mixin atMedium { float: left }
        @media only print { float: left !important }
    }

    &__title {
        text-align: center;
        font-weight: 100;
        font-size: 2.45rem;
        margin-top: 2px;
        margin-bottom: 1rem;
    }

    &__portrait {
        @media not print {
            @mixin smThanMedium {
                display: block;
                margin-left: auto;
                margin-right: auto;
                height: 150px;
                width: 150px;
                border-radius: 9999px;
            }
        }
        @mixin atMedium {
            margin: 15px auto;
        }
        @media only print {
            margin: 50px auto;
        }
    }

    &__heading {
        border-bottom: 1px solid #333;
        margin-bottom: 0;
    }
    
    &__objective {}

    aside {
        @mixin atMedium {
            position      : relative;
            width         : 25%;
            height        : 100%;
            padding-right : 25px;
            border-right  : 1px solid #222;
        }
        @media only print {
            position      : relative !important;
            min-height    : 850px;
            width         : 25% !important;
            height        : 100% !important;
            padding-right : 25px !important;
            border-right  : 1px solid #222 !important;
        }
        address {
            text-align: center;
            a { 
                @mixin noTextDecoration;
                text-decoration: underline;
            }
            @mixin atMedium {
                padding-right : 25px;
                text-align    : right;
            }
            @media only print {
                text-align: right;
                position: absolute;
                bottom: 0;
                right: 15px;
            }
        }
    }

    .no-print {
        @mixin smThanMedium {
            display: none
        }
    }
    
    article:not(.accordion-panel) {
        width: 100%;
        @mixin atMedium {
            width        : 75%;
            height       : 100%;
            padding-left : 25px;
        }
        @media only print {
            width        : 75% !important;
            height       : 100% !important;
            padding-left : 25px !important;
        }
    }
}
