.back-arrow {
  width: 320px;
  height: 320px;
}

.facebook {
  width: 21px;
  height: 42px;
}

.github {
  width: 438px;
  height: 438px;
}

.mail {
  width: 64px;
  height: 48px;
}

.phone {
  width: 103px;
  height: 103px;
}

.twitter {
  width: 51px;
  height: 42px;
}
.cls-1{fill:#fff;}

