/*
@use postcss-nested;
@use postcss-simple-vars;
@use postcss-mixins;
@use postcss-color-function;
*/

$breakpoint: 800px;
$lg-breakpoint: 960px;

$background: rgb(0, 100, 0);
$color: #EEE;

@define-mixin atLarge {
    @media (min-width: $lg-breakpoint) {
        @mixin-content;
    }
}

@define-mixin atMedium {
    @media (min-width: $breakpoint) {
        @mixin-content;
    }
}

@define-mixin isSmall {
    @media (max-width: $breakpoint) {
        @mixin-content;
    }
}

* { box-sizing: border-box }

body {
    margin: 0;
    padding: 0;
    background: $background;
    color: $color;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.wrapper {
    max-width: 1536px;
    padding: 0 25px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    font-weight: 100;
    font-size: 3.35rem;
    margin-top: 1rem;
    margin-bottom: 1.6rem;
    @mixin atMedium { font-size: 4.35rem }

    &.subtitle {
        font-size: 2.45rem;
        @mixin atMedium { font-size: 3.55rem }
    }
}

.text-center { text-align: center }

.btn {
    display: inline-block;
    padding: 0.3rem 0.6rem;
    margin: 1rem 0.8rem;
    font-size: 1.35rem;
    background: $color;
    color: color($background l(+ 10));
    border: none;

    &.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &.wide { width: 80% }
    &.full-width { width: 100% }
}

#campers {
    margin    : 20px auto;
    padding   : 0 20px;

    @mixin atLarge {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .camper {
            width: 48%;

            &:nth-child(odd) { margin-right: 2% }
            &:nth-child(even) { margin-left: 2% }
        }
    }

    .camper {
        position: relative;
        display: block;
        margin: 2rem 0;
        padding: 1.35rem 1.35rem 0.5rem 1.35rem;
        text-decoration: none !important;
        color: $color;
        background: color($background b(+ 5));
        box-shadow: 0 2px 1px 1px rgba(40, 40, 40, 0.3);

        @mixin atMedium {
            & > *:not(.profile-pic) { margin-left: 160px }
            img, img.logo {
                width: 120px;
                height: 120px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }

            .username, .brownie-pts { text-align: left }
        }
        @mixin atLarge {
            & > *:not(.profile-pic) { margin-left: 120px }
        }

        .username, .brownie-pts { text-align: center }

        .username {
            font-weight: 400;
            font-size: 1.25rem;
            text-align: center;
            margin-bottom: 3px;
            border-bottom: 1px solid #DDD;

            @mixin atMedium {
                text-align: left;
                font-size: 1.85rem;
            }
        }

        img, img.profile-pic {
            display: block;
            margin: 0 auto;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 3px solid #FFF;
            box-shadow: 0 3px 1px 2px rgba(20, 20, 20, 0.3);
        }
    }
}
